<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figures</title>
  </head>
  <body>
    <% @figures.each do |figure| %>
    <p><%= figure.name %></p>
    <% end %>
  </body>
</html>
